<!DOCTYPE html>
<html>
<head>
  <title>Edit Dog | DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Pacifico|Cookie|Comfortaa|Ubuntu|Varela+Round">
  <style>
    <%= ScssAssets.render_styles %>
  </style>
</head>
<body>
  <div class="container">
    <ul>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <%= message %><br>
        </div>
      <% end %>
    </ul>

    <h1>Edit <%= @dog.name %></h1>
    <form action="/dogs/<%= @dog.id %>" method="POST">
      <input type="hidden" name="_method" value='PATCH'>

      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">

      <label>Name<br>
        <input class="form-control"
               type="text" name="dog[name]" value="<%= @dog.name %>">
      </label><br>

      <br>
      <label>Human Friend<br>
        <select name="dog[human_id]">
          <option value="0" <%= "selected='selected'" unless @dog.human %>>
            None
          </option>
          <% @humans.each do |human|%>
            <option value="<%= human.id %>"
              <%= "selected='selected'" if @dog &&  @dog.human && @dog.human.id == human.id %>>
              <%= human.name %>
            </option>
          <% end %>
        </select>
      </label><br>

<!--       <label>Owner<br>
        <input class="form-control"
               type="text" name="dog[owner]" value="<#%= @dog.owner %>">
      </label><br> -->

      <br>
      <input class="btn btn-primary" 
             type="submit" value="Update Dog!">
    </form>
    <br>
    <a href="/dogs">Back to Dog Index</a>
  </div>
</body>
</html>