<!DOCTYPE html>
<html>
<head>
  <title>DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Pacifico|Cookie|Comfortaa|Ubuntu|Varela+Round">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">
  <style>
    <%= ScssAssets.render_styles %>
  </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>DOG APP</h1>
      <p><em>A comprehensive list of all dogs ever</em></p>
    </div>
    <ul>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <li><%= message %></li>
        </div>
      <% end %>
    </ul>

    <h1>ALL THE DOGS</h1>

    <table>
      <tr>
        <th>Dog</th>
        <th></th>
        <th>Human Friend</th>

      </tr>
      <% @dogs.each do |dog|%>
        <tr>
          <td><%= dog.name %></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><%= dog.human ? dog.human.name : 'None' %></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><a href="<%= dogs_path(dog) %>">show</a></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><a href="<%= edit_dogs_path(dog) %>">edit</a></td>

        </tr>
      <% end %>
    </table>
    <br>
    <a style="text-decoration: none" 
       class="btn btn-success" 
       href="<%= new_dogs_path %>">
      Create a new dog!
    </a>
  </div>
</body>
</html>

