<!DOCTYPE html>
<html>
<head>
  <title>New Dog | DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Pacifico|Cookie|Comfortaa|Ubuntu|Varela+Round">
  <style>
    <%= ScssAssets.render_styles %>
  </style>
</head>
<body>
  <div class="container">

    <ul>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <%= message %><br>
        </div>
      <% end %>
    </ul>

    <h1>Create a New Dog</h1>
    <form action="/dogs" method="POST">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
      <label>Name<br>
        <input type="text" name="dog[name]" value="<%= %>">
      </label><br>

      <label>Human Friend<br>
        <select name="dogs[human_id]">
          <option value="0" selected="selected">None</option>
          <% @humans.each do |human|%>
            <option value="<%= human.id %>">
              <%= human.name %>
            </option>
          <% end %>
        </select>
      <br><br>
      <input class="btn btn-success"
             type="submit" value="Create a Dog!">
    </form>
    <br><br>
    <a href="/dogs">Back to Dog Index</a>
  </div>
</body>
</html>