<!DOCTYPE html>
<html>
<head>
  <title>DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Pacifico|Cookie|Comfortaa|Ubuntu|Varela+Round">
  <style>
    <%= ScssAssets.render_styles %>
  </style>
</head>
<body>
  <div class="container">
    <ul>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <li><%= message %></li>
        </div>
      <% end %>
    </ul>

    <h1><%= @dog.name %></h1>
    <h3>House: 
      <% if @dog.human && @dog.house %>
      <a href="<%= houses_path(@dog.house) %>">
        <%= @dog.house.name %>
      </a>
      <% else %>
        <p>Stray :(</p>
      <% end %>
    </h3>
    <h3>Human Friend:
      <% if @dog.human %>
        <a href="<%= humans_path(@dog.human) %>">
          <%= @dog.human.name %>
        </a>
      <% else %>
        <p>None :(</p>
      <% end %>
    </h3>
    <br><br>
    <form action="/dogs/<%= @dog.id %>" method="POST">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-danger" type="submit" value="Delete <%= @dog.name %> :(">
    </form>
    <br>
    <p><a href="/dogs/<%= @dog.id %>/edit">Edit <%= @dog.name %></a></p> 
    
    <br>
    <a href="<%= dogs_path %>">Back to Dog Index</a>
  </div>
</body>
</html>

