<!DOCTYPE html>
<html>
<head>
  <title>DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <ul>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <li><%= message %></li>
        </div>
      <% end %>
    </ul>

    <h1><%= @dog.name %></h1>
    <h3>Owner: <%= @dog.owner %></h3>
    <br>
    <form action="/dogs/<%= @dog.id %>" method="POST">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete <%= @dog.name %> :(">
    </form>
    <br>
    <p><a href="/dogs/<%= @dog.id %>/edit">Edit <%= @dog.name %></a></p> 
    
    <br>
    <a href="/dogs">Back to Dog Index</a>
  </div>
</body>
</html>

