<!DOCTYPE html>
<html>
<head>
  <title><%= @house.name %> | DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Pacifico|Cookie|Comfortaa|Ubuntu|Varela+Round">
  <style>
    body {
      font-family: "Varela Round";
    }
  </style>
</head>
<body>
  <div class="container">
    <ul>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <li><%= message %></li>
        </div>
      <% end %>
    </ul>

    <h1><%= @house.name %></h1>
    <h3>Inhabitants:</h3>
    <h4>Humans</h4>
      <ul>
        <% @house.humans.each do |human| %>
          <li><a href="<%= humans_path(human) %>"><%= human.name %></a></li>
        <% end %>
      </ul>
    <h4>Dogs</h4>
      <ul>
        <% @house.dogs.each do |dog| %>
          <li><a href="<%= dogs_path(dog) %>"><%= dog.name %></a></li>
        <% end %>
      </ul>
    <br>
    <!-- <form action="/dogs/<#%= @human.id %>" method="POST">
      <input type="hidden"
             name="authenticity_token"
             value="<#%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete <#%= @human.name %> :(">
    </form> -->
    <br>
    <!-- <p><a href="/dogs/<#%= @human.id %>/edit">Edit <#%= @human.name %></a></p>  -->
    
    <br>
    <a href="<%= dogs_path %>">Back to Dog Index</a>
  </div>
</body>
</html>

